:root{
  --color-1:  #2c3e50;
  --text-color: white;
}

*{
  margin: 0;
  padding: 0;
}
html {
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #EBA00D;
}

body {
  margin: 1rem 4rem;
  /* display: flex; */
  background-color:white;
  justify-content: center; 
  /* padding: 0 40px; */
}

nav{
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.logo{
  height: 3rem;
  padding-left: 2rem;
  width:  fit-content;
  /* border-radius: 50%; */
}
.links-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 5rem;
}

nav a{
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  
}

nav a:hover{
  color:orange;
  /* background-color: brown; */
 
}

nav .link{
  margin-right: auto;
}
nav svg{
  fill: black;
}

#sidebar-active{
  display: none;
}
.open-sidebar-button, .close-sidebar-button{
  
  display: none;
}

/* <============  Container  =========>*/
h7{
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
.col-sm-6 button{
  margin-left: 0;
}
#order-button{
  display: flex;
  align-items: center;
  color: black;
  padding: 15px;
  border-radius: 4rem;
  background-color: #EBA00D;
  width: 10rem;
 justify-content: center;
}


#left-column-text{
  font-family: 'Times New Roman', Times, serif;
  font-size: 4rem;
  /* color: darkgoldenrod; */
}
.container {
  margin-top: 2rem;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}
.row {
  display: flex;
  justify-content: center;
}

.col-sm-6 {
  flex: 1; /* Equal width for both columns */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.col-sm-6 img {
  max-width: 100%; 
  height: 40rem;  
}


.search-bar {
  display: flex;
  align-items: center;
  background-color: #EBA00D;
  border-radius: 25px;
  padding: 10px;
  column-gap: 10px;
}

.search-input {
  flex-grow: 1;
  border: none;
  background-color: transparent;
  color: white;
  padding: 5px;
  width: 5rem;
}

.search-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  
}
p {
  
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5; 
  color: #333; 
  
  margin: 10px;
  padding: 1rem; 


  text-align: left; /* Align text to the left */
}
.orange-text {
  color: orange;
}

#h2-img {
  height: 5rem;
  width: 5rem; /* Adjust the width of the sticker image */
  vertical-align: middle; /* Align the sticker image vertically */
  margin-top: -23px;
}

#search-button{
  color: black;
  padding: 3px;
  border-radius: 4rem;
  background-color: #EBA00D;
  width: 5rem;
  cursor: pointer;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for background color and text color */
}
#search-button:hover{
  background-color: orange; /* Change background color on hover */
  color: white; /* Change text color on hover */
}


#order-button{
  display: flex;
  align-items: center;
  color: black;
  padding: 13px;
  margin-right: auto;
  margin-left: 20px; 
  border-radius: 4rem;
  background-color: #EBA00D;
  width: 10rem;
  cursor: pointer;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for background color and text color */
}


#order-button:hover{
  background-color: orange; /* Change background color on hover */
  color: white; /* Change text color on hover */
}

#arrow {
  margin-left: 0.5rem; /* Add some space between text and arrow */
}

#order-button:hover #arrow path {
  fill: white; /* Change arrow color on hover */
}

/* =======================Cards=====================> */
.cards-con{
  background: white;
  height: 100vh;
}
.articles {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  max-width: 1200px;
  gap: 1.5rem;
  height: 10rem;
  
}

.articles article {
  max-width: 20rem;
  width: 100%;
  cursor: pointer;
  position: relative;
  display: block;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}

.articles article h2 {
  margin: 0 0 0.5rem 0;
  font-size: 1.6rem;
  color: var(--text);
  transition: color 0.3s ease-out;
}


.articles article img {
  max-width: 100%;
  transform-origin: center;
  transition: transform 0.4s ease-in-out;
  height: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  object-fit: cover;
}

.articles article:hover img {
  transform: scale(1.5);
}

.article-preview {
  padding: 1.5rem;
  background: white;
}

.articles figure {
  width: 100%;
  height: 14rem;
  overflow: hidden;
}

#cards-p{
  font-size: 13px;
  /* font-family: 'Times New Roman', Times, serif; */
}
/* ======================= End Cards =====================> */

/* <============  Container End =========> */

/* ======================= Offer =====================> */

#offer{
  display: flex;
  flex-direction: column;
  background-color: #627375;
  color: white;
  display: flex;
  justify-content: flex-start;
}
#left-div {
  display: flex;
  flex-direction: column;
}
#side-heading {
  align-self: flex-start;
  color: #EBA00D;
}
#left-div h2{
  color: aliceblue;
  align-self: flex-start;
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
}
#left-div p{
  color: aliceblue;
}
.card-content{
  display: grid;
  grid-template-columns: auto 4.5rem;
}
/* ------------- */


#services .col-sm-6 {
  position: relative;
  /* background-color: #EBA00D; */
  display: flex;
  flex-direction: column;
  /* column-gap: 1rem; */
  padding-bottom: 1rem;
  align-items: flex-start;
  margin: 1rem;
  
}

#service-icon{
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  /* padding-bottom: 1rem; */
  /* background-color: #EBA00D; */
  align-items: center;
  
}
#service-icon svg{
  fill: #EBA00D;
  margin: 1rem;
  padding: 0.75rem;
  border-radius: 5rem;
  background-color: white;
 
}
.row.gy-5.gx {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#right-div{
  background-color: #333;
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 1rem;
  
}
#img-bc{
  background-color: #EBA00D;
  height: 14rem;
  width: 12rem;
  position: relative;
  
}

#right-image,
#right-image {
  position: absolute;
  
  /* padding: 10rem; */
}
#pos-img{
  height: 10rem;
  width: 8rem;
  border-radius: 1rem;
}

#left-image {
  left: 0; /* Position at the left */
}

#right-image {
  right: 1; /* Position at the right */
}
/* ======================= End Offer =====================> */

/* ======================= About US =====================> */
#about_us_img{
  height: 22rem;
  margin: 5rem;
}
#about_us_h3{
font-size: 3rem;
}
/* ======================= End  About US =====================> */

/* ======================= Testimonals =====================> */
#Testimonals{
  background-color: #FDF5EB;
  margin-top: 0;
}
#headings {
  color: #EBA00D;
  font-weight: bold;
  align-items: flex-start;
  text-align: center;

}
#headings h3{
 font-size: 40px;
 color:#6c757d ;
}
.Testimonals_div{
  display: flex;
  gap: 1rem;
  /* justify-content: space-around; */
}
.testimonial_card{
  background-color: #be7676;
  color: #FDF5EB;
  height: 20rem;
  align-items: center;
  width: 18rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#stars {
  margin: 1rem;
  /* padding-left: 1rem; */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
#stars svg{
  fill: #EBA00D;
}
#testimonals_card_img{
  height: 5rem;
  width: auto;
  
}
/* ======================= End Testimonals =====================> */
@media (max-width: 768px) {
  body {
    /* margin: 1rem; */
  }
}
@media(max-width:450px){
  body{
    margin: 1rem 1rem;
  }
  .container{
    display: flex;
    flex-direction: column;
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Align logo and menu icon to start and end */
    align-items: center;
  }

  .logo {
    display: flex;
    justify-content: flex-start;
   
  }
  
  .open-sidebar-button {
    order: 2; /* Place menu icon at the end */
  }

  .links-container{
    flex-direction: column;
    align-items: normal;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;
    background-color:whitesmoke;
    box-shadow: -5px 0 5px rgb(0, 0, 0,0.25);
    transition: 0.75s ease-in-out;
  }

  nav a{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 30px 20px;
    justify-content: flex-start;
  }

  .open-sidebar-button, .close-sidebar-button{
    display:block;
    padding:20px;
  }

  #sidebar-active:checked ~ .links-container{
    right: 0;
  }

  #sidebar-active:checked ~ #overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 9;
  }
  .search-bar{
    display: none;
  }
  .row {
    flex-direction: column-reverse; /* Reverse the order of the columns */
  }

  .col-sm-6 {
    margin-bottom: 2rem; 
  }

  .col-sm-6 img {
    margin-bottom: 1rem; /* Add some space between the image and the text */
    /* max-width: 100%;  */
    height: 22rem;
    width: 20rem;
  }

  #left-column-text h2 {
    font-size: 2rem; /* Decrease the font size of the heading */
  }

  #left-column-text p {
    font-size: 14px; /* Decrease the font size of the paragraph */
  }
  .col-sm-6 button {
    margin-right: auto;
    margin-left: 20px;
    font-size: 1rem;
    height: 1rem;
}

#h2-img {
  height: 2rem;
  width: 2rem; /* Adjust the width of the sticker image */
  vertical-align: middle; /* Align the sticker image vertically */
  margin-top: 1px;
}

}

