:root{
  --color-1:  #2c3e50;
  --text-color: white;
}

*{
  margin: 0;
  padding: 0;
}
html {
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #EBA00D;
}

body {
  margin: 1rem 4rem;
  /* display: flex; */
  background-color:white;
  justify-content: center; 
  /* padding: 0 40px; */
}

nav{
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
.logo{
  height: 3rem;
  padding-left: 2rem;
  width:  fit-content;
  /* border-radius: 50%; */
}
.links-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav a{
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  
}

nav a:hover{
  color:orange;
  /* background-color: brown; */
 
}

nav .home-link{
  margin-right: auto;
}
nav svg{
  fill: black;
}

#sidebar-active{
  display: none;
}
.open-sidebar-button, .close-sidebar-button{
  
  display: none;
}

/* <============  Container  =========>*/
h1{
  font-size: larger;
}
.container {
  margin-top: 2rem;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}
.row {
  display: flex;
  justify-content: center;
}

.col-sm-6 {
  flex: 1; /* Equal width for both columns */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.col-sm-6 img {
  max-width: 100%; 
}

.col-sm-6 h2 {
  margin-right: 20px; /* Add spacing between text and image */
}

/* <============  Container End =========> */
@media(max-width:450px){
  body{
    margin: 1rem 1rem;
  }
  .container{
    display: flex;
    flex-direction: column;
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Align logo and menu icon to start and end */
    align-items: center;
  }

  .logo {
    margin-left: 5px; /* Add some space between the logo and the edge */
    height: 3rem;
    width: 3rem;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
  }
  

  .open-sidebar-button {
    order: 2; /* Place menu icon at the end */
  }

  .links-container{
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;
    background-color: var(--color-1);
    box-shadow: -5px 0 5px rgb(0, 0, 0,0.25);
    transition: 0.75s ease-in-out;
  }

  nav a{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 30px 20px;
    justify-content: flex-start;
  }

  .open-sidebar-button, .close-sidebar-button{
    display:block;
    padding:20px;
  }

  #sidebar-active:checked ~ .links-container{
    right: 0;
  }

  #sidebar-active:checked ~ #overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 9;
  }
}